<div class="person-form-container">
  <h2>Cadastrar Pessoa</h2>
  <form (ngSubmit)="onSubmit()" [formGroup]="personFormGroup" >
    <div class="form-group">
      <label for="name">Nome *</label>
      <input id="name" name="name" formControlName="name" required />
    </div>

    <div class="form-group">
      <label for="phone">Telefone *</label>
      <input id="phone" name="phone" formControlName="phone"  required />
    </div>

    <div class="form-group">
      <label for="email">E-mail</label>
      <input id="email" name="email"  type="email" formControlName="email"/>
    </div>

    <div class="form-group">
      <label for="address">Endereço</label>
      <input id="address" name="address" formControlName="address" />
    </div>

    <button type="submit" [disabled]="personFormGroup.invalid">Salvar</button>
  </form>
</div>