<h1>Dashboard</h1>
<div class="content">
    <div class="card investido">
        <div class="card-header">
            <h2>Valor Gasto em {{ currentYear }}</h2>
        </div>
        <div class="card-body">
            <p class="value">R$ {{value}}</p>
            <i class="bi bi-graph-up-arrow"></i>
        </div>
        <div class="card-footer">
            <p>Última atualização: 15/05/2025 00:37:54</p>
        </div>
    </div>
    <div class="card recebido">
        <div class="card-header">
            <h2>Valor Retornado </h2>
        </div>
        <div class="card-body">
            <p class="value">R$ {{recebido}}</p>
            <i class="bi bi-graph-up"></i>            
        </div>
        <div class="card-footer">
            <p>Última atualização: 15/05/2025 00:37:54</p>
        </div>
    </div>

    <div class="card lucro">
        <div class="card-header">
            <h2>Lucro</h2>
        </div>
        <div class="card-body">
            <p class="value">R$ {{lucro}}</p>
            <i class="bi bi-graph-up-arrow"></i>
        </div>
        <div class="card-footer">
            <p>Última atualização: 15/05/2025 00:37:54</p>
        </div> 
    </div>
</div>